@inherits IndexBase
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<span style="color: green">Index.razor: @DisplayMessage</span>

<TestComponent Customers="Customers"
               CustomerSelectedEvent="CustomerSelected">

</TestComponent>
