@inherits IndexBase
@page "/"

<span style="color: green">Index.razor: @DisplayMessage</span>

<TestComponent Customers="Customers"
               SelectedCustomer="SelectedCustomer"
               CustomerSelectedEvent="CustomerSelected"
               CustomerResetEvent="CustomerResetting"
               AddCustomerEvent="CustomerAdding"
               CustomerUpdatedEvent="CustomerUpdating"
               DeleteCustomerEvent="CustomerDeleting">
</TestComponent>

@if (SelectedCustomer != null )
{
  <br/>
  <br/>
  <span style="color: green">Customer Selected:  @SelectedCustomer.Name</span>
}
